{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    {% if current_user.is_authenticated %}
    {{  wtf.quick_form(form) }}
    {% else %}
        <p>This is a task-manager! To work with it, you should login or signup!</p>
    {% endif %}
    {% if tasks %}
        {% for task in tasks %}
        <p>
            {{ task.task }}|
            Expire after:
            {{ task.expire_date.strftime("%d %B %Y, %A") }}|
            <a href="{{ url_for('delete_task', task_id=task.id) }}">Delete this task</a>
        </p>
        {% endfor %}
    {% endif %}
{% endblock %}